@import 'common';

// 페이지 공통 헤더 bg
.animal {
    .jumbo-wall {
        background-image: url(/assets/images/animal/animal_header_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}

// 실험동물 생산
.animal.experimental-animals {
    .animal-provide {
        background-image: url(/assets/images/animal/animal_provide_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        .section-header {
            .section-title {
                color: #fff;
            }
        }
    }
    .animal-model {
        background-color: #f7f8f9;
    }
}

// 질환모델 제작 - KO제작, 관리
.animal.disease-modeling {
    .vitalSta-partner {
        background-color: #f7f8f9;
    }
}

// 청정화, 사육관리 
.animal.breeding-management {
    .breeding-system {
        background-image: url(/assets/images/animal/breeding_system_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        .section-header {
            .section-title {
                color: #fff;
            }
        }
    }
}

// 유전자변형 문의
.animal.request-write {
    .write {
        .section-body {
            .table-wrap {
                .table {
                    tbody {
                        tr {
                            td {
                                &.phone {
                                    .form-group {
                                        .form-control {
                                            width: 24.33%;
                                            @media(min-width: $sm) {
                                                width: 100px;
                                            }
                                        }
                                    }
                                }
                                &.transform-gene, &.species, &.scope, &.gene-name, &.email {
                                    .form-group {
                                        .form-control {
                                            display: inline-block;
                                            @media(min-width: $sm) {
                                                width: 370px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-area {
                text-align: center;
                margin-top: 35px;
                p {
                    .btn {
                        display: inline-block;
                        width: 150px;
                        height: 35px;
                        font-size: 13px;
                        color: #fff;
                        line-height: 33px;
                        text-align: center;
                        padding: 0;
                        border-radius: 0;
                        &.btn-red {
                            background-color: #e10013;
                        }
                        @media(min-width: $sm) {
                            width: 170px;
                            height: 45px;
                            line-height: 43px;
                            font-size: 16px;
                        }
                    }
                }
                @media(min-width: $sm) {
                    margin-top: 50px;
                    text-align: right;
                }
                @media(min-width: $lg) {
                    margin-top: 60px;
                }
            }
        }
    }
}































// 유전자변형 문의 .animal.