@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.animal .jumbo-wall {
  background-image: url(/assets/images/animal/animal_header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.animal.experimental-animals .page-summary .summary-list {
  padding-top: 60px; }
  @media (min-width: 768px) {
    .animal.experimental-animals .page-summary .summary-list {
      padding-top: 80px; } }
  @media (min-width: 992px) {
    .animal.experimental-animals .page-summary .summary-list {
      padding-top: 100px; } }
  .animal.experimental-animals .page-summary .summary-list ul li figure {
    text-align: center;
    margin-bottom: 50px; }
    .animal.experimental-animals .page-summary .summary-list ul li figure .img-responsive {
      margin: 0 auto; }
    .animal.experimental-animals .page-summary .summary-list ul li figure figcaption {
      text-align: center;
      margin-top: 10px;
      font-size: 14px; }
      @media (min-width: 768px) {
        .animal.experimental-animals .page-summary .summary-list ul li figure figcaption {
          font-size: 16px;
          margin-top: 20px; } }
    @media (min-width: 992px) {
      .animal.experimental-animals .page-summary .summary-list ul li figure {
        margin-bottom: 0; } }
  .animal.experimental-animals .page-summary .summary-list ul li:last-child figure {
    margin-bottom: 0; }
.animal.experimental-animals .animal-provide {
  background-image: url(/assets/images/animal/animal_provide_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .animal.experimental-animals .animal-provide .section-header .section-title {
    color: #fff; }
  .animal.experimental-animals .animal-provide .section-body .com-list li b {
    font-weight: 400;
    color: #fff; }
  @media (min-width: 992px) {
    .animal.experimental-animals .animal-provide .section-body .com-list li {
      margin-top: 15px; }
      .animal.experimental-animals .animal-provide .section-body .com-list li:first-child {
        margin-top: 0; } }
.animal.experimental-animals .ivf .section-body ul li figure .img-responsive {
  margin: 0 auto; }
.animal.experimental-animals .ivf .section-body ul li:nth-of-type(2n + 1) {
  clear: both; }
  @media (min-width: 992px) {
    .animal.experimental-animals .ivf .section-body ul li:nth-of-type(2n + 1) {
      clear: none; } }
.animal.experimental-animals .ivf .section-body ul li:nth-of-type(1) figure {
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .animal.experimental-animals .ivf .section-body ul li:nth-of-type(1) figure {
      margin-bottom: 0; } }
.animal.experimental-animals .ivf .section-body ul li:nth-of-type(1) figure {
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .animal.experimental-animals .ivf .section-body ul li:nth-of-type(1) figure {
      margin-bottom: 0; } }
.animal.experimental-animals .animal-model {
  margin-bottom: 0;
  background-color: #f7f8f9; }
  .animal.experimental-animals .animal-model .section-body figure {
    padding-top: 60px; }
    @media (min-width: 768px) {
      .animal.experimental-animals .animal-model .section-body figure {
        padding-top: 80px; } }
    @media (min-width: 1280px) {
      .animal.experimental-animals .animal-model .section-body figure {
        padding-top: 100px; } }
    .animal.experimental-animals .animal-model .section-body figure .img-responsive {
      margin: 0 auto;
      max-width: 300px; }
      @media (min-width: 768px) {
        .animal.experimental-animals .animal-model .section-body figure .img-responsive {
          max-width: 400px; } }
      @media (min-width: 992px) {
        .animal.experimental-animals .animal-model .section-body figure .img-responsive {
          max-width: 100%; } }

.animal.disease-modeling .page-summary .summary-list {
  padding-top: 60px; }
  @media (min-width: 768px) {
    .animal.disease-modeling .page-summary .summary-list {
      padding-top: 80px; } }
  @media (min-width: 992px) {
    .animal.disease-modeling .page-summary .summary-list {
      padding-top: 100px; } }
  .animal.disease-modeling .page-summary .summary-list ul li figure {
    text-align: center;
    margin-bottom: 50px; }
    .animal.disease-modeling .page-summary .summary-list ul li figure .img-responsive {
      margin: 0 auto; }
    .animal.disease-modeling .page-summary .summary-list ul li figure figcaption {
      text-align: center;
      margin-top: 10px;
      font-size: 14px; }
      @media (min-width: 768px) {
        .animal.disease-modeling .page-summary .summary-list ul li figure figcaption {
          font-size: 16px;
          margin-top: 20px; } }
    @media (min-width: 992px) {
      .animal.disease-modeling .page-summary .summary-list ul li figure {
        margin-bottom: 0; } }
  .animal.disease-modeling .page-summary .summary-list ul li:last-child figure {
    margin-bottom: 0; }
.animal.disease-modeling .vitalsta-partner {
  background-color: #f7f8f9; }
  .animal.disease-modeling .vitalsta-partner .section-body figure {
    padding-top: 30px; }
    @media (min-width: 768px) {
      .animal.disease-modeling .vitalsta-partner .section-body figure {
        padding-top: 40px; } }
    @media (min-width: 1280px) {
      .animal.disease-modeling .vitalsta-partner .section-body figure {
        padding-top: 50px; } }
    .animal.disease-modeling .vitalsta-partner .section-body figure .img-responsive {
      margin: 0 auto;
      max-width: 300px; }
      @media (min-width: 768px) {
        .animal.disease-modeling .vitalsta-partner .section-body figure .img-responsive {
          max-width: 500px; } }
      @media (min-width: 992px) {
        .animal.disease-modeling .vitalsta-partner .section-body figure .img-responsive {
          max-width: 100%; } }
  .animal.disease-modeling .vitalsta-partner .section-body .com-list {
    margin-top: 60px; }
    @media (min-width: 768px) {
      .animal.disease-modeling .vitalsta-partner .section-body .com-list {
        margin-top: 80px; } }
    @media (min-width: 1280px) {
      .animal.disease-modeling .vitalsta-partner .section-body .com-list {
        margin-top: 100px; } }
    .animal.disease-modeling .vitalsta-partner .section-body .com-list li b {
      font-weight: 400; }
.animal.disease-modeling .ko-mouse .section-header {
  overflow: hidden; }
  @media (min-width: 992px) {
    .animal.disease-modeling .ko-mouse .section-header h4 {
      float: left; } }
  .animal.disease-modeling .ko-mouse .section-header .btn-inquire {
    text-align: center; }
    @media (min-width: 768px) {
      .animal.disease-modeling .ko-mouse .section-header .btn-inquire {
        text-align: left; } }
    @media (min-width: 992px) {
      .animal.disease-modeling .ko-mouse .section-header .btn-inquire {
        float: left;
        margin-left: 55px; } }
    .animal.disease-modeling .ko-mouse .section-header .btn-inquire .btn-gray {
      display: inline-block;
      width: 300px;
      height: 35px;
      font-size: 14px;
      line-height: 32px;
      text-align: center;
      color: #fff;
      padding: 0;
      border-radius: 0;
      background-color: #595757; }
      .animal.disease-modeling .ko-mouse .section-header .btn-inquire .btn-gray .icon-pencil {
        margin-right: 5px; }
      @media (min-width: 992px) {
        .animal.disease-modeling .ko-mouse .section-header .btn-inquire .btn-gray {
          font-size: 16px;
          width: 200px;
          height: 40px;
          line-height: 38px; } }
  .animal.disease-modeling .ko-mouse .section-header .summary {
    clear: both; }
.animal.disease-modeling .ko-mouse .section-body .com-list {
  margin-top: 30px; }
  .animal.disease-modeling .ko-mouse .section-body .com-list > li b {
    font-weight: 400; }
.animal.disease-modeling .ko-mouse .section-body .ko-mouse-list {
  margin-top: 60px; }
  @media (min-width: 768px) {
    .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list {
      margin-top: 80px; } }
  @media (min-width: 1280px) {
    .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list {
      margin-top: 100px; } }
  .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 300px; }
    @media (min-width: 768px) {
      .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure {
        max-width: 370px; } }
    @media (min-width: 992px) {
      .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure {
        max-width: 100%;
        margin-bottom: 0; } }
    .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure h6 {
      font-size: 15px;
      color: #fff;
      font-weight: 400;
      padding: 20px 0;
      text-align: center; }
      .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure h6 small {
        font-size: 14px;
        font-family: 'Titillium Web', sans-serif;
        color: #fff;
        font-weight: 300;
        display: block;
        margin-top: 5px; }
      @media (min-width: 768px) {
        .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure h6 {
          padding: 25px 0;
          font-size: 17px; }
          .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure h6 small {
            font-size: 14px;
            margin-top: 10px; } }
    .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details {
      padding: 30px 20px;
      border: 1px solid #dfdfdf;
      border-top: 0; }
      @media (min-width: 992px) {
        .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details {
          padding: 40px 30px; } }
      @media (min-width: 992px) {
        .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details {
          height: 293px; } }
      .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li {
        position: relative;
        padding-left: 20px;
        font-size: 12px;
        line-height: 22px;
        color: #666; }
        .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li b {
          font-weight: 400; }
        .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li:before {
          position: absolute;
          top: 1px;
          left: 0;
          content: "\E809";
          color: #f08501;
          font-size: 12px;
          font-family: "fontello"; }
          @media (min-width: 768px) {
            .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li:before {
              font-size: 14px; } }
        .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li + li {
          margin-top: 10px; }
        @media (min-width: 768px) {
          .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li {
            font-size: 14px;
            line-height: 26px; } }
        @media (min-width: 992px) {
          .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li {
            letter-spacing: -1px; } }
        @media (min-width: 1280px) {
          .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li .figure .details .check-list li {
            letter-spacing: 0px; } }
  .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li:last-child .figure {
    margin-bottom: 0; }
  .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li:nth-of-type(1) .figure h6 {
    background-color: #595757; }
  .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li:nth-of-type(2) .figure h6 {
    background-color: #b95453; }
  .animal.disease-modeling .ko-mouse .section-body .ko-mouse-list > ul > li:nth-of-type(3) .figure h6 {
    background-color: #b09d60; }

.animal.breeding-management .page-summary .summary-list {
  padding-top: 60px; }
  @media (min-width: 768px) {
    .animal.breeding-management .page-summary .summary-list {
      padding-top: 80px; } }
  @media (min-width: 992px) {
    .animal.breeding-management .page-summary .summary-list {
      padding-top: 100px; } }
  .animal.breeding-management .page-summary .summary-list ul li .figure {
    max-width: 268px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid #dfdfdf; }
    .animal.breeding-management .page-summary .summary-list ul li .figure .img-responsive {
      margin: 0 auto; }
    .animal.breeding-management .page-summary .summary-list ul li .figure .figcaption {
      text-align: center;
      font-size: 12px;
      color: #666;
      line-height: 22px;
      padding: 20px 10px;
      border-top: 1px solid #dfdfdf; }
      @media (min-width: 768px) {
        .animal.breeding-management .page-summary .summary-list ul li .figure .figcaption {
          height: 195px; } }
      @media (min-width: 992px) {
        .animal.breeding-management .page-summary .summary-list ul li .figure .figcaption {
          padding: 40px 15px;
          font-size: 14px;
          line-height: 26px;
          height: 263px; } }
    @media (min-width: 1280px) {
      .animal.breeding-management .page-summary .summary-list ul li .figure {
        margin-bottom: 0;
        max-width: 100%; } }
  .animal.breeding-management .page-summary .summary-list ul li:last-child figure {
    margin-bottom: 0; }
.animal.breeding-management .breeding-system {
  background-image: url(/assets/images/animal/breeding_system_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .animal.breeding-management .breeding-system .section-header .section-title {
    color: #fff; }
  .animal.breeding-management .breeding-system .section-body ul {
    overflow: hidden;
    padding-top: 30px; }
    @media (min-width: 768px) {
      .animal.breeding-management .breeding-system .section-body ul {
        padding-top: 40px; } }
    @media (min-width: 1280px) {
      .animal.breeding-management .breeding-system .section-body ul {
        padding-top: 50px; } }
    .animal.breeding-management .breeding-system .section-body ul li {
      display: block; }
      @media (min-width: 768px) {
        .animal.breeding-management .breeding-system .section-body ul li {
          float: left;
          width: 50%; } }
      @media (min-width: 992px) {
        .animal.breeding-management .breeding-system .section-body ul li {
          width: 20%; } }
      .animal.breeding-management .breeding-system .section-body ul li figure {
        margin-bottom: 50px; }
        .animal.breeding-management .breeding-system .section-body ul li figure .img-responsive {
          margin: 0 auto; }
        .animal.breeding-management .breeding-system .section-body ul li figure figcaption {
          font-size: 14px;
          line-height: 26px;
          margin-top: 10px;
          color: #fff;
          text-align: center; }
          @media (min-width: 768px) {
            .animal.breeding-management .breeding-system .section-body ul li figure figcaption {
              margin-top: 20px;
              font-size: 16px;
              line-height: 30px; } }
      .animal.breeding-management .breeding-system .section-body ul li:last-child figure {
        margin-bottom: 0; }
      @media (min-width: 768px) {
        .animal.breeding-management .breeding-system .section-body ul li:nth-of-type(2n + 1) {
          clear: both; } }
      @media (min-width: 992px) {
        .animal.breeding-management .breeding-system .section-body ul li figure {
          margin-bottom: 0; }
        .animal.breeding-management .breeding-system .section-body ul li:nth-of-type(2n + 1) {
          clear: none; } }
.animal.breeding-management .customized .section-body .com-list {
  margin-bottom: 50px; }
  @media (min-width: 1280px) {
    .animal.breeding-management .customized .section-body .com-list {
      padding-top: 20px;
      margin-bottom: 0; } }
  .animal.breeding-management .customized .section-body .com-list li h6 {
    font-weight: 400; }
.animal.breeding-management .customized .section-body figure .img-responsive {
  margin: 0 auto;
  max-width: 300px; }
  @media (min-width: 768px) {
    .animal.breeding-management .customized .section-body figure .img-responsive {
      max-width: 500px; } }
  @media (min-width: 992px) {
    .animal.breeding-management .customized .section-body figure .img-responsive {
      max-width: 100%; } }

.animal.request-write .write .section-body .table-wrap .table tbody tr td.phone .form-group .form-control {
  width: 24.33%; }
  @media (min-width: 768px) {
    .animal.request-write .write .section-body .table-wrap .table tbody tr td.phone .form-group .form-control {
      width: 100px; } }
.animal.request-write .write .section-body .table-wrap .table tbody tr td.transform-gene .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.species .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.scope .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.gene-name .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.email .form-group .form-control {
  display: inline-block; }
  @media (min-width: 768px) {
    .animal.request-write .write .section-body .table-wrap .table tbody tr td.transform-gene .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.species .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.scope .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.gene-name .form-group .form-control, .animal.request-write .write .section-body .table-wrap .table tbody tr td.email .form-group .form-control {
      width: 370px; } }
.animal.request-write .write .section-body .btn-area {
  text-align: center;
  margin-top: 35px; }
  .animal.request-write .write .section-body .btn-area p .btn {
    display: inline-block;
    width: 150px;
    height: 35px;
    font-size: 13px;
    color: #fff;
    line-height: 33px;
    text-align: center;
    padding: 0;
    border-radius: 0; }
    .animal.request-write .write .section-body .btn-area p .btn.btn-red {
      background-color: #e10013; }
    @media (min-width: 768px) {
      .animal.request-write .write .section-body .btn-area p .btn {
        width: 170px;
        height: 45px;
        line-height: 43px;
        font-size: 16px; } }
  @media (min-width: 768px) {
    .animal.request-write .write .section-body .btn-area {
      margin-top: 50px;
      text-align: right; } }
  @media (min-width: 1280px) {
    .animal.request-write .write .section-body .btn-area {
      margin-top: 60px; } }

/*# sourceMappingURL=animal.css.map */
