@import 'common';

html {
	min-width: 320px;
	height: 100%;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	&.nav-opened {
		overflow: hidden;
	}
	@media (min-width: $lg) {
		&.nav-opened {
			overflow: auto;
		}
	}
}

body {
	padding-top: 48px;
	min-width: 320px;
	height: 100%;
	@include noto;
	font-size: 12px;
	font-weight: 300;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	&.nav-opened {
		overflow: hidden;
	}
	@media (min-width: $sm) {
		padding-top: 73px;
	}
	@media (min-width: $lg) {
		padding-top: 137px;
		&.nav-opened {
			overflow: auto;
		}
	}
}

a {
	color: #333;
}

.container,
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        @for $i from 1 through 12 {
            .col-xs-#{$i},
            .col-sm-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    @media (min-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
        .row {
            margin-left: -10px;
            margin-right: -10px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    @media (min-width: $md) {
        padding-left: 15px;
        padding-right: 15px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

#top-nav {
	z-index: 9000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	background-color: #f3f3f3;
	.affiliates {
		ul {
			li {
				display: inline;
				a {
					float: left;
					padding-left: 20px;
					padding-right: 20px;
					height: 52px;
					line-height: 52px;
					text-decoration: none;
					color: #5e5e5e;
					@include trans();
					font-weight: 500;
					&:hover, &:focus {
						color: #333;
						background-color: #fff;
					}
				}
			}
		}
	}
}

#header {
	z-index: 1001;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 320px;
	height: 48px;
	border-bottom: 3px solid $kcolor;
	background-color: #fff;
	.logo {
		float: left;
		margin-top: 11px;
	}
	#btn-open-nav {
		margin-top: 5px;
		margin-right: -10px;
		padding: 0;
		border: 0;
		color: #2b2b2b;
		width: 35px;
		height: 35px;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		&:before {
			font-family: 'fontello';
			content: '\F008';
			line-height: 35px;
		}
	}
	@media (min-width: $sm) {
		height: 73px;
		.logo {
			margin-top: 20px;
		}
		#btn-open-nav {
			margin-top: 10px;
			width: 50px;
			height: 50px;
			font-size: 30px;
			&:before {
				line-height: 50px;
			}
		}
	}
	@media (min-width: $lg) {
		top: 52px;
		height: 85px;
		.logo {
			margin-top: 25px;
		}
		#nav {
			overflow: hidden;
			height: 82px;
			text-align: right;
			> ul {
				display: inline-block;
				> li {
					display: inline;
					> a {
						float: left;
						display: block;
						padding-left: 40px;
						padding-right: 40px;
						font-size: 16px;
						line-height: 82px;
						text-decoration: none;
						color: #333;
						font-weight: 400;
						&:hover, &:focus {
							color: $kcolor;
						}
					}
					.nav-content {
						display: none;
						position: fixed;
						top: 134px;
						left: 0;
						width: 100%;
						height: 285px;
						text-align: left;
						background-color: rgba(#fff, .97);
						border-top: 1px solid #e1e1e1;
						border-bottom: 3px solid $kcolor;
						.nav-head {
							margin-left: -15px;
							padding: 50px 30px 0;
							height: 281px;
							border-left: 1px solid #e1e1e1;
							border-right: 1px solid #e1e1e1;
							h4 {
								@include titi();
								font-size: 30px;
								font-weight: bold;
							}
							hr {
								display: inline-block;
								margin-left: 0;
								margin-right: inherit;
								width: 35px;
								border-top: 3px solid $kcolor;
							}
							p {
								font-size: 13px;
								line-height: 20px;
								color: #595757;
							}
						}
						.nav-body {
							padding: 50px 20px 0;
							a {
								font-weight: 400;
								color: #666;
								text-decoration: none;
							}
							> ul {
								> li {
									clear: both;
									overflow: hidden;
									position: relative;
									> a {
										float: left;
										display: block;
										min-width: 150px;
										height: 30px;
										font-size: 14px;
									}
									> ul {
										float: left;
										> li {
											overflow: hidden;
											> a {
												float: left;
												display: block;
												margin-left: 60px;
												min-width: 170px;
												height: 30px;
												font-size: 14px;
											}
											> ul {
												float: left;
												> li {
													> a {
														display: inline-block;
														margin-left: 30px;
														height: 30px;
														font-size: 13px;
														&:before {
															margin-right: 5px;
															content: '-';
														}
													}
													& + li {
														margin-top: 10px;
													}
													&:hover {
														> a {
															color: $kcolor;
															border-bottom: 1px solid $kcolor;
														}
													}
												}
											}
											& + li {
												margin-top: 10px;
											}
											&:hover {
												> a {
													padding-left: 8px;
													color: $kcolor;
													border-bottom: 1px solid $kcolor;
													border-left: 1px solid $kcolor;
													&:after {
														float: right;
														font-family: 'fontello';
														content: '\E806';
													}
												}
											}
										}
									}
									& + li {
										margin-top: 10px;
									}
									&:hover {
										> a {
											color: $kcolor;
											&:after {
												float: right;
												font-family: 'fontello';
												content: '\E806';
											}
										}
									}
								}
							}
						}
					}
					&.active {
						> a {
							color: $kcolor;
						}
						.nav-content {
							display: block;
						}
					}
					&:nth-of-type(3) {
						.nav-content {
							.nav-body {
								> ul {
									> li {
										> a {
											min-width: 200px;
										}
										> ul {
											> li {
												> a {
													min-width: 400px;
												}
											}
										}
									}
								}
							}
						}
					}
					&:nth-of-type(4) {
						.nav-content {
							.nav-body {
								> ul {
									> li {
										> a {
											min-width: 220px;
										}
									}
								}
							}
						}
					}
					&:nth-of-type(5) {
						.nav-content {
							height: 394px;
							.nav-head {
								height: 390px;
							}
							.nav-body {
								> ul {
									> li {
										> a {
											min-width: 360px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#nav-side {
	z-index: 9999;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .75);
	.nav-content {
		position: absolute;
		top: 0;
		right: -100%;
		padding-top: 45px;
		max-width: 270px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		.nav-header {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 45px;
			border-bottom: 1px solid #ccc;
			.quick {
				margin-top: 8px;
				margin-left: 20px;
				ul {
					display: inline-block;
					li {
						display: inline;
						a {
							float: left;
							width: 100px;
							height: 30px;
							border: 1px solid $kcolor;
							line-height: 28px;
							font-size: 12px;
							font-weight: 400;
							color: $kcolor;
							text-align: center;
							text-decoration: none;
							&:active {
								background-color: #fff;
								color: $kcolor;
							}
						}
						& + li {
							a {
								margin-left: 10px;
							}
						}
					}
				}
			}
			#btn-close-nav {
				position: absolute;
				top: 0;
				right: 0;
				padding: 11px;
				border: 0;
			}
		}
		.nav-body {
			overflow: auto;
			height: 100%;
			.nav > ul {
				> li {
					border-bottom: 1px solid #ccc;
					> a {
						display: block;
						padding-left: 20px;
						padding-right: 10px;
						padding-top: 12px;
						padding-bottom: 12px;
						line-height: 25px;
						font-size: 13px;
						font-weight: 400;
						text-decoration: none;
						color: #333;
					}
					> ul {
						display: none;
						> li {
							> a {
								display: block;
								padding-left: 30px;
								padding-right: 10px;
								padding-top: 12px;
								padding-bottom: 12px;
								font-size: 13px;
								line-height: 25px;
								border-top: 1px solid #ccc;
								text-decoration: none;
								color: #666;
								font-weight: 400;
							}
							> ul {
								display: none;
								> li {
									> a {
										display: block;
										padding-left: 40px;
										padding-right: 10px;
										padding-top: 12px;
										padding-bottom: 12px;
										font-size: 13px;
										line-height: 25px;
										text-decoration: none;
										border-top: 1px solid #ccc;
										color: #666;
										font-weight: 400;
									}
									> ul {
										display: none;
										padding-top: 20px;
										padding-bottom: 20px;
										border-top: 1px solid #ccc;
										background-color: #f5f5f5;
										> li {
											> a {
												display: block;
												padding-top: 5px;
												padding-bottom: 5px;
												padding-left: 40px;
												padding-right: 10px;
												font-size: 12px;
												line-height: 25px;
												color: #666;
												text-decoration: none;
												font-weight: 400;
												&:before {
													margin-right: 5px;
													content: '-';
												}
											}
											&.has-child {
												> a {
													&:after {
														float: right;
														font-family: 'fontello';
														content: '\E804';
														color: #666;
													}
												}
											}
											&.selected {
												> a {
													color: $kcolor;
												}
												&.has-child {
													> a {
														&:after {
															float: right;
															font-family: 'fontello';
															content: '\E807';
															color: $kcolor;
														}
													}
												}
											}
										}
									}
									&.has-child {
										> a {
											&:after {
												float: right;
												font-family: 'fontello';
												content: '\E804';
												color: #666;
											}
										}
									}
									&.selected {
										> a {
											color: $kcolor;
										}
										> ul {
											display: block;
										}
										&.has-child {
											> a {
												&:after {
													float: right;
													font-family: 'fontello';
													content: '\E807';
													color: $kcolor;
												}
											}
										}
									}
								}
							}
							&.has-child {
								> a {
									&:after {
										float: right;
										font-family: 'fontello';
										content: '\E804';
										color: #666;
									}
								}
							}
							&.selected {
								> a {
									color: $kcolor;
								}
								> ul {
									display: block;
								}
								&.has-child {
									> a {
										&:after {
											float: right;
											font-family: 'fontello';
											content: '\E807';
											color: $kcolor;
										}
									}
								}
							}
						}
					}
					&.has-child {
						> a {
							&:after {
								float: right;
								font-family: 'fontello';
								content: '\E804';
								color: #666;
							}
						}
					}
					&.selected {
						border-bottom: 1px solid $kcolor;
						> a {
							color: #fff;
							background-color: $kcolor;
							&:after {
								content: ' ';
							}
						}
						> ul {
							display: block;
						}
					}
				}
			}
		}
	}
	@media (min-width: $sm) {
		.nav-content {
			padding-top: 70px;
			max-width: 500px;
			.nav-header {
				height: 70px;
				.quick {
					margin-top: 15px;
					margin-left: 20px;
					ul {
						li {
							a {
								width: 145px;
								height: 40px;
								line-height: 38px;
								font-size: 14px;
							}
							& + li {
								a {
									margin-left: 20px;
								}
							}
						}
					}
				}
				#btn-close-nav {
					position: absolute;
					top: 12px;
					right: 12px;
					padding: 11px;
					border: 0;
				}
			}
			.nav-body {
				.nav {
					> ul {
						> li {
							> a {
								padding-top: 15px;
								padding-bottom: 15px;
								padding-left: 20px;
								padding-right: 27px;
								font-size: 14px;
							}
							> ul {
								> li {
									> a {
										padding-top: 15px;
										padding-bottom: 15px;
										padding-left: 40px;
										padding-right: 27px;
										font-size: 14px;
									}
									> ul {
										> li {
											> a {
												padding-top: 15px;
												padding-bottom: 15px;
												padding-left: 55px;
												padding-right: 27px;
												font-size: 14px;
											}
											> ul {
												padding-top: 15px;
												padding-bottom: 15px;
												> li {
													> a {
														padding-top: 10px;
														padding-bottom: 10px;
														padding-left: 55px;
														padding-right: 27px;
														font-size: 13px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

body.nav-opened {
	#nav-side {
		right: 0;
		.nav-content {
			right: 0;
			@include trans();
		}
	}
}

body.nav-expanded {
	@media (min-width: $lg) {
		#header {
			border-bottom: 0;
		}
	}
}

#footer {
	padding-top: 20px;
	padding-bottom: 30px;
	//border-top: 1px solid #ccc;
	.address, .contact {
		dl {
			overflow: hidden;
			display: inline-block;
			dt, dd {
				display: inline;
				font-weight: normal;
				line-height: 20px;
				color: #666;
				a {
					color: #666;
				}
			}
			dt {
				&:after {
					margin-left: 2px;
					margin-right: 2px;
					content: ":";
				}
			}
			&:after {
				margin-left: 5px;
				margin-right: 5px;
				content: "|";
			}
			&:last-child {
				&:after {
					margin-left: 0;
					margin-right: 0;
					content: "";
				}
			}
		}
		address {
			display: inline;
			line-height: 20px;
		}
	}
	.copyright {
		line-height: 20px;
		color: #666;
		p {
			a {
				color: #666;
			}
		}
	}
	.family {
		margin: 25px auto 0;
		width: 186px;
		.dropup {
			.btn {
				width: 100%;
				height: 35px;
				border-radius: 0;
				@include maven();
				color: #999;
				text-align: left;
				span {
					float: right;
					margin-top: 8px;
				}
				&:hover, &:focus {
					background-color: #fff;
				}
				&:active {
					box-shadow: none;
				}
			}
			.dropdown-menu {
				bottom: 35px;
				margin-top: 0;
				margin-bottom: 0;
				width: 100%;
				box-shadow: none;
				border-radius: 0;
				li {
					a {
						color: #666;
						font-size: 12px;
						@include maven();
						line-height: 25px;
					}
				}
			}
			&.open {
				.btn {
					background-color: #fff;
				}
			}
		}
	}
	@media (min-width: $sm) {
		padding-top: 30px;
		.family {
			margin-top: 5px;
			margin-left: -24px;
		}
	}
	@media (min-width: $md) {
		.family {
			width: 100%;
			margin-left: inherit;
		}
	}
	@media (min-width: $lg) {
		padding-top: 25px;
		padding-bottom: 25px;
		.family {
			margin-left: 0;
			width: 170px;
		}
	}
}