@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin: 0; }

label {
  margin: 0;
  font-weight: 400; }

.form-control {
  font-size: 13px;
  height: 35px;
  padding: 5px;
  box-shadow: none;
  border: 1px solid #dfdfdf;
  border-radius: 0; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }
  @media (min-width: 768px) {
    .form-control {
      font-size: 15px; } }

.table {
  margin-bottom: 0; }

.table-wrap .write-form {
  table-layout: fixed;
  border-top: 3px solid #e10013; }
  .table-wrap .write-form tbody tr th {
    width: 120px;
    padding: 18px 5px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    background-color: #f7f7f7;
    border: 1px solid #c3c3c3;
    border-left: 0;
    border-top: 0; }
    .table-wrap .write-form tbody tr th small {
      font-size: 11px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr th small {
          font-size: 13px; } }
    .table-wrap .write-form tbody tr th label {
      font-size: 13px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr th label {
          font-size: 15px; } }
    .table-wrap .write-form tbody tr th.u-content {
      padding-top: 20px;
      vertical-align: top; }
    .table-wrap .write-form tbody tr th.surely:before {
      content: "*";
      color: #ef4600;
      margin-right: 3px; }
    @media (min-width: 768px) {
      .table-wrap .write-form tbody tr th {
        padding: 18px 30px;
        width: 230px;
        font-size: 15px;
        line-height: 26px; } }
    @media (min-width: 992px) {
      .table-wrap .write-form tbody tr th {
        width: 170px; } }
  .table-wrap .write-form tbody tr td {
    font-size: 13px;
    color: #666;
    vertical-align: middle;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf; }
    .table-wrap .write-form tbody tr td label {
      font-size: 13px;
      font-weight: 300;
      line-height: 24px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td label {
          font-size: 15px;
          color: #666; } }
    .table-wrap .write-form tbody tr td .form-group .attention {
      display: block;
      font-size: 11px;
      color: #666;
      font-weight: 300;
      margin-top: 10px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td .form-group .attention {
          font-size: 13px; } }
      @media (min-width: 1280px) {
        .table-wrap .write-form tbody tr td .form-group .attention {
          display: inline-block;
          margin-top: 0;
          margin-left: 20px; } }
    .table-wrap .write-form tbody tr td.u-content .form-group .form-control {
      height: 180px; }
    .table-wrap .write-form tbody tr td.phone .form-group .form-control {
      width: 26.33%;
      display: inline-block; }
      .table-wrap .write-form tbody tr td.phone .form-group .form-control:nth-of-type(1) {
        margin-right: 5px; }
      .table-wrap .write-form tbody tr td.phone .form-group .form-control:nth-of-type(2) {
        margin: 0 5px; }
      .table-wrap .write-form tbody tr td.phone .form-group .form-control:nth-of-type(3) {
        margin-left: 5px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.phone .form-group .form-control {
          width: 100px; } }
    .table-wrap .write-form tbody tr td.attach .form-group {
      position: relative;
      padding-right: 74px; }
      .table-wrap .write-form tbody tr td.attach .form-group .btn-file {
        position: absolute;
        top: 0;
        right: 0; }
        .table-wrap .write-form tbody tr td.attach .form-group .btn-file .btn-gray {
          width: 64px;
          height: 35px;
          line-height: 33px;
          font-size: 13px;
          color: #fff;
          text-align: center;
          border-radius: 0;
          padding: 0;
          background-color: #aeaeaf; }
          .table-wrap .write-form tbody tr td.attach .form-group .btn-file .btn-gray:hover, .table-wrap .write-form tbody tr td.attach .form-group .btn-file .btn-gray:focus {
            box-shadow: none; }
          @media (min-width: 768px) {
            .table-wrap .write-form tbody tr td.attach .form-group .btn-file .btn-gray {
              width: 120px;
              font-size: 15px; } }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.attach .form-group {
          padding-right: 130px; } }
    .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) {
      position: relative;
      padding-right: 74px; }
      .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) .btn-addr {
        position: absolute;
        top: 0;
        right: 0; }
        .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) .btn-addr .btn-gray {
          width: 64px;
          height: 35px;
          line-height: 33px;
          font-size: 13px;
          color: #fff;
          text-align: center;
          border-radius: 0;
          padding: 0;
          background-color: #aeaeaf; }
          .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) .btn-addr .btn-gray:hover, .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) .btn-addr .btn-gray:focus {
            box-shadow: none; }
          @media (min-width: 768px) {
            .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) .btn-addr .btn-gray {
              width: 120px;
              font-size: 15px; } }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(1) {
          width: 300px;
          padding-right: 130px; } }
    .table-wrap .write-form tbody tr td.addr .form-group:nth-of-type(2) .form-control:nth-of-type(1) {
      margin: 10px 0; }
    @media (min-width: 768px) {
      .table-wrap .write-form tbody tr td.basic-form .form-group .form-control {
        width: 270px; } }
    .table-wrap .write-form tbody tr td.checkbox-list .form-group label {
      display: block; }
      .table-wrap .write-form tbody tr td.checkbox-list .form-group label input[type=checkbox] {
        position: relative;
        top: 2px;
        margin: 0 7px 0 0; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.checkbox-list .form-group label {
          display: inline-block;
          line-height: 32px;
          margin-right: 30px; } }
      @media (min-width: 992px) {
        .table-wrap .write-form tbody tr td.checkbox-list .form-group label {
          margin-right: 50px;
          line-height: 40px; } }
    .table-wrap .write-form tbody tr td.radio-box .form-group label {
      margin-right: 20px;
      line-height: 30px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.radio-box .form-group label {
          margin-right: 50px;
          line-height: 45px; } }
      .table-wrap .write-form tbody tr td.radio-box .form-group label:last-child {
        margin-right: 0; }
      .table-wrap .write-form tbody tr td.radio-box .form-group label input[type=radio] {
        position: relative;
        top: 2px;
        margin: 0 5px 0 0; }
        @media (min-width: 768px) {
          .table-wrap .write-form tbody tr td.radio-box .form-group label input[type=radio] {
            top: 1px; } }
    .table-wrap .write-form tbody tr td.pr-zero {
      padding-right: 0; }
    .table-wrap .write-form tbody tr td.gene-code .form-group .form-control {
      display: block;
      width: 100px;
      margin-top: 10px; }
      .table-wrap .write-form tbody tr td.gene-code .form-group .form-control:first-child {
        margin-top: 0; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.gene-code .form-group .form-control {
          display: inline-block;
          margin-top: 0;
          margin-right: 10px; }
          .table-wrap .write-form tbody tr td.gene-code .form-group .form-control:last-child {
            margin-top: 10px;
            margin-right: 0; } }
  @media (min-width: 768px) and (min-width: 1280px) {
    .table-wrap .write-form tbody tr td.gene-code .form-group .form-control:last-child {
      margin-top: 0; } }

    .table-wrap .write-form tbody tr td.gender .form-group .form-control {
      display: inline-block;
      width: 43.44%; }
      .table-wrap .write-form tbody tr td.gender .form-group .form-control:first-child {
        margin-right: 5px; }
      .table-wrap .write-form tbody tr td.gender .form-group .form-control:last-child {
        margin-left: 5px; }
      @media (min-width: 768px) {
        .table-wrap .write-form tbody tr td.gender .form-group .form-control {
          width: 100px; } }
    @media (min-width: 768px) {
      .table-wrap .write-form tbody tr td {
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px; }
        .table-wrap .write-form tbody tr td.u-name .form-group .form-control {
          width: 270px; }
        .table-wrap .write-form tbody tr td.u-mail .form-group .form-control {
          width: 470px; } }
    @media (min-width: 992px) {
      .table-wrap .write-form tbody tr td {
        padding-right: 70px; } }

.glp .write .section-body .table-wrap .table tbody tr td.phone .form-group .form-control {
  width: 24.33%; }
  @media (min-width: 768px) {
    .glp .write .section-body .table-wrap .table tbody tr td.phone .form-group .form-control {
      width: 100px; } }
.glp .write .section-body .table-wrap .table tbody tr td.email .form-group .form-control {
  display: inline-block; }
  @media (min-width: 768px) {
    .glp .write .section-body .table-wrap .table tbody tr td.email .form-group .form-control {
      width: 370px; } }
.glp .write .section-body .table-wrap .table tbody tr td.select-radio label {
  margin-right: 20px;
  line-height: 30px; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio label.mr-zero {
    margin: 0; }
  @media (min-width: 768px) {
    .glp .write .section-body .table-wrap .table tbody tr td.select-radio label {
      margin-right: 50px;
      line-height: 45px; } }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio label input[type=radio] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0; }
    @media (min-width: 768px) {
      .glp .write .section-body .table-wrap .table tbody tr td.select-radio label input[type=radio] {
        top: 1px; } }
.glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group {
  display: block;
  margin-right: 20px; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group.etc {
    position: relative;
    padding-left: 5px; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group:last-child {
    margin-right: 0; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group input[type=radio] {
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 5px 0 0; }
    @media (min-width: 768px) {
      .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group input[type=radio] {
        top: 1px; } }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group label {
    display: inline-block;
    margin-right: 0; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group .form-control {
    width: 95%;
    display: inline-block; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group i {
    font-style: normal; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group .input-added:before {
    position: relative;
    left: 2px;
    display: inline-block;
    content: "("; }
  .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group .input-added:after {
    display: inline-block;
    content: ")"; }
  @media (min-width: 768px) {
    .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group {
      margin-right: 50px; }
      .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group .form-control {
        width: 314px; }
        .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group .form-control.shot-input {
          width: 176px; } }
  @media (min-width: 1280px) {
    .glp .write .section-body .table-wrap .table tbody tr td.select-radio .form-group {
      display: inline-block;
      margin-right: 50px; } }
.glp .write .section-body .btn-area {
  text-align: center;
  margin-top: 35px; }
  .glp .write .section-body .btn-area p .btn {
    display: inline-block;
    width: 150px;
    height: 35px;
    font-size: 13px;
    color: #fff;
    line-height: 33px;
    text-align: center;
    padding: 0;
    border-radius: 0; }
    .glp .write .section-body .btn-area p .btn.btn-red {
      background-color: #e10013; }
    @media (min-width: 768px) {
      .glp .write .section-body .btn-area p .btn {
        width: 170px;
        height: 45px;
        line-height: 43px;
        font-size: 16px; } }
  @media (min-width: 768px) {
    .glp .write .section-body .btn-area {
      margin-top: 50px;
      text-align: right; } }
  @media (min-width: 1280px) {
    .glp .write .section-body .btn-area {
      margin-top: 60px; } }

/*# sourceMappingURL=form.css.map */
