@import 'common';

.glp {
    .jumbo-wall {
        background-image: url(/assets/images/glp/glp_header_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}


// Safety-Study 
.glp.safety-study {
    // 공통으로 들어갈 스타일
    .tab-content {
        .tab-pane {
            /* common style */
        }
    }
    // safety-study
    #tab-1 {
        .authentication-glp {
            background-image: url(/assets/images/glp/authentication_glp_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            .section-header {
                .section-title {
                    color: #fff;
                }
            }
        }
        .glp-study-list {
            
        }
    }
    // 시험항목
    #tab-2 {
        .basic-toxicity {
            
        }
        .heredity-toxicity {
            background-image: url(/assets/images/glp/heredity_toxicity_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            .section-header {
                .section-title {
                    color: #fff;
                }
            }
        }
        .gametogenic {
            
        }
        .aquatic-ecology {
            background-image: url(/assets/images/glp/aquatic_ecology_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            .section-header {
                .section-title {
                    color: #fff;
                }
            }
        }
        .substitute {
            
        }
    }
    // 시험문의
    #tab-3 {
        .write {
            .section-body {
                .table-wrap {
                    .table {
                        tbody {
                            tr {
                                td {
                                    &.phone {
                                        .form-group {
                                            .form-control {
                                                width: 24.33%;
                                                @media(min-width: $sm) {
                                                    width: 100px;
                                                }
                                            }
                                        }
                                    }
                                    &.email {
                                        .form-group {
                                            .form-control {
                                                display: inline-block;
                                                @media(min-width: $sm) {
                                                    width: 370px;
                                                }
                                            }
                                        }
                                    }
                                    &.select-radio {
                                        label {
                                            margin-right: 20px;
                                            line-height: 30px;
                                            &.mr-zero {
                                                margin: 0;
                                            }
                                            @media(min-width: $sm) {
                                                margin-right: 50px;
                                                line-height: 45px;
                                            }
                                            input[type=radio] {
                                                position: relative;
                                                top: 2px;
                                                margin: 0 5px 0 0;
                                                @media(min-width: $sm) {
                                                    top: 1px;
                                                }
                                            }
                                        }
                                        .form-group {
                                            display: block;
                                            margin-right: 20px;
                                            &.etc {
                                                position: relative;
                                                padding-left: 5px;
                                                .form-control {

                                                }
                                            }
                                            &:last-child {
                                                margin-right: 0;
                                            }
                                            input[type=radio] {
                                                display: inline-block;
                                                position: relative;
                                                top: 2px;
                                                margin: 0 5px 0 0;
                                                @media(min-width: $sm) {
                                                    top: 1px;
                                                }
                                            }
                                            label {
                                                display: inline-block;
                                                margin-right: 0;
                                            }
                                            .form-control {
                                                width: 95%;
                                                display: inline-block;
                                            }
                                            i {
                                                font-style: normal;
                                            }
                                            .input-added {
                                                &:before {
                                                    position: relative;
                                                    left: 2px;
                                                    display: inline-block;
                                                    content: "(";
                                                }
                                                &:after {
                                                    display: inline-block;
                                                    content: ")";
                                                }
                                            }
                                            @media(min-width: $sm) {
                                                margin-right: 50px;
                                                .form-control {
                                                    width: 314px;
                                                    &.shot-input {
                                                        width: 176px;
                                                    }
                                                }
                                            }
                                            @media(min-width: $lg) {
                                                display: inline-block;
                                                margin-right: 50px;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    text-align: center;
                    margin-top: 35px;
                    p {
                        .btn {
                            display: inline-block;
                            width: 150px;
                            height: 35px;
                            font-size: 13px;
                            color: #fff;
                            line-height: 33px;
                            text-align: center;
                            padding: 0;
                            border-radius: 0;
                            &.btn-red {
                                background-color: #e10013;
                            }
                            @media(min-width: $sm) {
                                width: 170px;
                                height: 45px;
                                line-height: 43px;
                                font-size: 16px;
                            }
                        }
                    }
                    @media(min-width: $sm) {
                        margin-top: 50px;
                        text-align: right;
                    }
                    @media(min-width: $lg) {
                        margin-top: 60px;
                    }
                }
            }
        }
    }
}