@import 'common';

.inquire.inquire-write {
    .write {
        .table-wrap {
            .table {
                tbody {
                    th {
                        width: 82px;
                        padding-left: 15px;
                        @media(min-width: $sm) {
                            width: 170px;
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 35px;
            p {
                .btn {
                    display: inline-block;
                    width: 150px;
                    height: 35px;
                    font-size: 13px;
                    color: #fff;
                    line-height: 33px;
                    text-align: center;
                    padding: 0;
                    border-radius: 0;
                    &.btn-red {
                        background-color: #e10013;
                    }
                    @media(min-width: $sm) {
                        width: 170px;
                        height: 45px;
                        line-height: 43px;
                        font-size: 16px;
                    }
                }
            }
            @media(min-width: $sm) {
                margin-top: 50px;
                text-align: right;
            }
            @media(min-width: $lg) {
                margin-top: 60px;
            }
        }
    }
}

