@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("/assets/fontello/css/fontello.css");
.noto, #fields .container-fluid .field-item .field-content .field-body p {
  font-family: 'Noto Sans KR', sans-serif; }

.titi, #fields .container-fluid .field-item .field-content .field-body ul li a {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

body {
  padding-top: 0; }

#top-nav {
  position: absolute;
  top: 100%; }

#header {
  position: absolute;
  top: 100%; }
  @media (min-width: 1280px) {
    #header {
      margin-top: 52px; }
      #header #nav > ul > li .nav-content {
        margin-top: 130px; } }

body.scrolled #header {
  position: fixed;
  top: 0; }
@media (min-width: 1280px) {
  body.scrolled #top-nav {
    position: fixed;
    top: 0; }
  body.scrolled #header {
    position: fixed;
    top: 52px;
    margin-top: 0; }
    body.scrolled #header #nav > ul > li .nav-content {
      position: fixed;
      top: 134px; } }

#content {
  margin-top: 48px; }
  @media (min-width: 768px) {
    #content {
      margin-top: 132px; } }
  @media (min-width: 1280px) {
    #content {
      margin-top: 132px; } }

#intro {
  position: relative;
  width: 100%;
  height: 100%; }
  #intro .intro-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-image: url(/assets/images/main/bg_intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    #intro .intro-content > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

#fields .container-fluid {
  padding-left: 5px;
  padding-right: 5px; }
  #fields .container-fluid .field-item {
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
    height: 215px; }
    #fields .container-fluid .field-item .field-back {
      display: none; }
    #fields .container-fluid .field-item .field-content {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
      #fields .container-fluid .field-item .field-content .field-body {
        overflow: hidden;
        margin-top: 90px;
        margin-bottom: 90px; }
        #fields .container-fluid .field-item .field-content .field-body h4 a {
          display: block;
          font-size: 13px;
          font-family: 'Titillium Web', sans-serif;
          height: 35px;
          background-color: rgba(0, 0, 0, 0.7);
          color: #fff;
          text-align: center;
          line-height: 35px;
          text-decoration: none; }
        #fields .container-fluid .field-item .field-content .field-body hr {
          display: none; }
        #fields .container-fluid .field-item .field-content .field-body p {
          display: none; }
        #fields .container-fluid .field-item .field-content .field-body ul {
          display: none; }
    #fields .container-fluid .field-item.field-item-1 .field-content {
      background-image: url(/assets/images/bg_field_1.jpg); }
    #fields .container-fluid .field-item.field-item-2 .field-content {
      background-image: url(/assets/images/bg_field_2.jpg); }
    #fields .container-fluid .field-item.field-item-3 .field-content {
      background-image: url(/assets/images/bg_field_3.jpg); }
    #fields .container-fluid .field-item.field-item-4 .field-content {
      background-image: url(/assets/images/bg_field_4.jpg); }
@media (min-width: 768px) {
  #fields .container-fluid {
    padding-left: 10px;
    padding-right: 10px; }
    #fields .container-fluid .field-item {
      margin-left: -10px;
      margin-right: -10px;
      height: 475px; }
      #fields .container-fluid .field-item .field-content .field-body {
        max-width: 330px;
        margin: 210px auto; }
        #fields .container-fluid .field-item .field-content .field-body h4 a {
          height: 55px;
          line-height: 55px;
          font-size: 20px; } }
@media (min-width: 992px) {
  #fields .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
    #fields .container-fluid .field-item {
      margin-left: -15px;
      margin-right: -15px;
      height: 475px; }
      #fields .container-fluid .field-item .field-content .field-body {
        margin: 210px auto; } }
@media (min-width: 1280px) {
  #fields .container-fluid .field-item {
    overflow: hidden;
    height: 790px; }
    #fields .container-fluid .field-item .field-back {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      #fields .container-fluid .field-item .field-back video {
        width: 100%;
        height: 100%;
        -ms-transform: scale(4.5);
        -webkit-transform: scale(4.5);
        transform: scale(4.5); }
    #fields .container-fluid .field-item .field-content .field-body {
      margin: 367px auto;
      height: 55px; }
      #fields .container-fluid .field-item .field-content .field-body hr {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 97px;
        border-top-width: 3px;
        display: none; }
      #fields .container-fluid .field-item .field-content .field-body p {
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        text-align: center;
        display: none; }
      #fields .container-fluid .field-item .field-content .field-body ul {
        margin-top: 25px;
        display: none; }
        #fields .container-fluid .field-item .field-content .field-body ul li a {
          margin: 0 auto;
          display: block;
          width: 170px;
          height: 40px;
          border: 1px solid #fff;
          line-height: 38px;
          color: #fff;
          text-align: center;
          text-decoration: none; }
          #fields .container-fluid .field-item .field-content .field-body ul li a:hover, #fields .container-fluid .field-item .field-content .field-body ul li a:focus {
            background-color: #fff;
            color: #e40009;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
        #fields .container-fluid .field-item .field-content .field-body ul li + li a {
          margin-top: 10px; }
    #fields .container-fluid .field-item:hover.field-item .field-content, #fields .container-fluid .field-item:focus.field-item .field-content {
      background-image: none; }
    #fields .container-fluid .field-item:hover .field-content .field-body, #fields .container-fluid .field-item:focus .field-content .field-body {
      margin: 105px auto;
      padding-top: 90px;
      padding-bottom: 90px;
      height: 580px;
      background-color: rgba(225, 0, 19, 0.85);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      #fields .container-fluid .field-item:hover .field-content .field-body h4 a, #fields .container-fluid .field-item:focus .field-content .field-body h4 a {
        font-size: 26px;
        background-color: transparent; }
      #fields .container-fluid .field-item:hover .field-content .field-body hr, #fields .container-fluid .field-item:focus .field-content .field-body hr {
        display: block; }
      #fields .container-fluid .field-item:hover .field-content .field-body p, #fields .container-fluid .field-item:focus .field-content .field-body p {
        display: block; }
      #fields .container-fluid .field-item:hover .field-content .field-body ul, #fields .container-fluid .field-item:focus .field-content .field-body ul {
        display: block; } }
@media (min-width: 1920px) {
  #fields .field-item .field-back video {
    width: 100%;
    height: 100%;
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3); } }

#slogan {
  padding-top: 40px;
  padding-bottom: 40px; }
  #slogan p {
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    border-left: 2px solid #ef4600;
    border-right: 2px solid #ef4600;
    color: #111; }
    #slogan p b {
      color: #ef4600;
      font-weight: 400; }
    #slogan p .bar {
      position: absolute;
      height: 2px;
      width: 12px;
      background-color: #ef4600; }
      #slogan p .bar.top {
        top: 0; }
      #slogan p .bar.bottom {
        bottom: 0; }
      #slogan p .bar.left {
        left: 0; }
      #slogan p .bar.right {
        right: 0; }
  @media (min-width: 768px) {
    #slogan {
      padding-top: 70px;
      padding-bottom: 70px; }
      #slogan p {
        font-size: 26px;
        line-height: 40px; } }
  @media (min-width: 1280px) {
    #slogan p {
      font-size: 28px;
      line-height: 45px; } }

.boxes {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ebebeb; }
  .boxes .box-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center; }
    .boxes .box-content .box-body {
      display: table-cell;
      vertical-align: middle; }
  @media (min-width: 768px) {
    .boxes {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (min-width: 992px) {
    .boxes {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .boxes {
      padding-top: 100px;
      padding-bottom: 100px; } }

#zebrafish {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 190px; }
  #zebrafish .box-back {
    width: 100%;
    height: 100%; }
    #zebrafish .box-back video {
      width: 100%;
      height: 100%; }
  #zebrafish .box-content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
    #zebrafish .box-content .box-body {
      text-decoration: none;
      background-image: url(/assets/images/main/thumb_zebrafish.jpg);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      #zebrafish .box-content .box-body h4 {
        margin-bottom: 10px;
        font-size: 22px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: 1px; }
        #zebrafish .box-content .box-body h4 small {
          color: #fff; }
      #zebrafish .box-content .box-body p {
        font-size: 12px;
        line-height: 20px;
        color: #fff; }
        #zebrafish .box-content .box-body p i {
          font-style: normal;
          color: #fff799; }
  @media (min-width: 768px) {
    #zebrafish {
      margin-bottom: 20px;
      height: 225px; }
      #zebrafish .box-content .box-body h4 {
        margin-bottom: 15px;
        font-size: 26px; }
        #zebrafish .box-content .box-body h4 small {
          font-size: 18px; }
      #zebrafish .box-content .box-body p {
        font-size: 14px;
        line-height: 22px; } }
  @media (min-width: 992px) {
    #zebrafish {
      margin-bottom: 30px; } }

#clp-points, #clp-inquery, #snbl, #senzagen {
  margin-bottom: 10px;
  height: 120px; }
  #clp-points a, #clp-inquery a, #snbl a, #senzagen a {
    position: relative;
    background-color: #fff;
    text-decoration: none; }
    #clp-points a i, #clp-inquery a i, #snbl a i, #senzagen a i {
      display: block;
      width: 100%;
      height: 50px;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
    #clp-points a h4, #clp-inquery a h4, #snbl a h4, #senzagen a h4 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 400;
      color: #333; }
    #clp-points a small, #clp-inquery a small, #snbl a small, #senzagen a small {
      display: none; }
  @media (min-width: 768px) {
    #clp-points, #clp-inquery, #snbl, #senzagen {
      margin-bottom: 20px;
      height: 225px; }
      #clp-points a i, #clp-inquery a i, #snbl a i, #senzagen a i {
        height: 80px;
        background-size: auto auto !important; }
      #clp-points a h4, #clp-inquery a h4, #snbl a h4, #senzagen a h4 {
        margin-top: 20px;
        font-size: 18px; }
      #clp-points a small, #clp-inquery a small, #snbl a small, #senzagen a small {
        display: inline;
        font-family: 'Titillium Web', sans-serif;
        font-size: 13px;
        color: #333; } }
  @media (min-width: 992px) {
    #clp-points, #clp-inquery, #snbl, #senzagen {
      margin-bottom: 0px; } }

#clp-points a i {
  background-image: url(/assets/images/main/ico_checklist.png);
  background-size: auto 50px; }
@media (min-width: 992px) {
  #clp-points {
    margin-bottom: 30px; } }

#clp-inquery a i {
  background-image: url(/assets/images/main/ico_docs_pencil.png);
  background-size: auto 45px; }
@media (min-width: 992px) {
  #clp-inquery {
    margin-bottom: 30px; } }

#snbl a i {
  background-image: url(/assets/images/main/logo_snbl.png);
  background-size: auto 36px; }
#snbl a h4 {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  font-weight: bold; }

#senzagen a i {
  background-image: url(/assets/images/main/logo_senzagen.png);
  background-size: auto 36px; }
#senzagen a h4 {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  font-weight: bold; }

#campaign {
  margin-bottom: 10px; }
  #campaign .campaign-item {
    display: block;
    position: relative;
    height: 290px;
    background-color: #fff;
    background-image: url(/assets/images/main/img_campaign_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    #campaign .campaign-item .campaign-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 30px 15px;
      width: 100%;
      background-color: rgba(225, 0, 19, 0.75); }
      #campaign .campaign-item .campaign-content h4 {
        overflow: hidden;
        font-family: 'Titillium Web', sans-serif;
        font-szie: 22px;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #campaign .campaign-item .campaign-content p {
        display: none; }
  #campaign .bx-wrapper {
    position: relative; }
    #campaign .bx-wrapper .bx-controls .bx-controls-direction a {
      position: absolute;
      top: 85px; }
      #campaign .bx-wrapper .bx-controls .bx-controls-direction a img {
        height: 25px; }
    #campaign .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
      left: 10px; }
    #campaign .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
      right: 10px; }
    #campaign .bx-wrapper .bx-controls .bx-pager {
      position: absolute;
      bottom: 100px;
      width: 100%;
      text-align: center; }
      #campaign .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        display: inline; }
        #campaign .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 1px solid #fff;
          border-radius: 50%; }
          #campaign .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
            background-color: #fff; }
        #campaign .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item .bx-pager-link {
          margin-left: 7px; }
  @media (min-width: 768px) {
    #campaign {
      margin-bottom: 20px; }
      #campaign .campaign-item {
        height: 480px; }
        #campaign .campaign-item .campaign-content {
          padding: 15px 30px; }
          #campaign .campaign-item .campaign-content h4 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 26px; }
          #campaign .campaign-item .campaign-content p {
            display: block;
            font-size: 13px;
            line-height: 25px;
            color: #fff; }
      #campaign .bx-wrapper .bx-controls .bx-controls-direction a {
        top: 150px; }
        #campaign .bx-wrapper .bx-controls .bx-controls-direction a img {
          height: auto; }
      #campaign .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
        left: 15px; }
      #campaign .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
        right: 15px; }
      #campaign .bx-wrapper .bx-controls .bx-pager {
        bottom: 150px; } }
  @media (min-width: 992px) {
    #campaign {
      margin-bottom: 30px; } }

#products .product-item {
  display: table;
  width: 100%;
  height: 150px;
  text-decoration: none;
  background-color: #ccc;
  background-color: #fff;
  background-image: url(/assets/images/main/img_product_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  #products .product-item .product-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    #products .product-item .product-content small {
      font-size: 14px;
      color: #fff; }
    #products .product-item .product-content h4 {
      margin-top: 10px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 22px;
      color: #fff;
      letter-spacing: 1px; }
#products .bx-wrapper {
  position: relative; }
  #products .bx-wrapper .bx-controls .bx-controls-direction a {
    display: none; }
  #products .bx-wrapper .bx-controls .bx-pager {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center; }
    #products .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
      display: inline; }
      #products .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #fff;
        border-radius: 50%; }
        #products .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
          background-color: #fff; }
      #products .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item .bx-pager-link {
        margin-left: 7px; }
@media (min-width: 768px) {
  #products .product-item {
    height: 225px; }
    #products .product-item .product-content small {
      font-size: 16px; }
    #products .product-item .product-content h4 {
      margin-top: 10px;
      font-size: 26px; }
  #products .bx-wrapper .bx-controls .bx-controls-direction a {
    display: block;
    position: absolute;
    top: 90px; }
  #products .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
    left: 15px; }
  #products .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
    right: 15px; }
  #products .bx-wrapper .bx-controls .bx-pager {
    bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
