@import 'common';

// 바이오신소재
.rnd-1 {
	#nmaterial {
		background-image: url(/assets/images/rnd/bg_rnd_1_sec_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		.section-title {
			color: #fff;
		}
	}
	#rcenter {
		.section-body {
			margin: 0 auto;
			max-width: 320px;
			figure {
				position: relative;
				margin-bottom: 10px;
				figcaption {
					position: absolute;
					bottom: 25px;
					left: 0;
					width: 100%;
					color: #fff;
					text-align: center;
				}
			}
		}
		@media (min-width: $sm) {
			.section-body {
				max-width: none;
			}
		}
	}
	#production {
		.period {
			padding-left: 0;
			padding-right: 0;
			.bar {
				width: 100%;
				height: 20px;
				background-image: url(/assets/images/rnd/bg_progress_bar.jpg);
			}
		}
		.done {
			.period {
				.bar {
					background-image: none;
					background-color: $kcolor;
				}
			}
			.status {
				color: $kcolor;
			}
		}
	}
}



// 플랫폼 기술
.rnd.platform-technology {
    // 공통으로 들어갈 스타일
    .tab-content {
        .tab-pane {
            /* common style */
        }
    }
    // Innovation Gene Therapy 
    #tab-1 {
        .virus-vector {
            
        }
        .stable-development {
            margin-bottom: 0;
            background-color: #f7f8f9;
        }
    }
    // Homologous Epitopes Region Immunization Technology
    #tab-2 {
        .immune-antibody {
            background-color: #f7f8f9;
        }
        .pipeline {
            
        }
    }
    // Cancer Therapies in Models
    #tab-3 {
        .xenograft {
            
        }
        .mouse-models {
            background-color: #f7f8f9;
        }
        .patient-derived {
            
        }
    }
}

// Development
.rnd.development {
    .pipline {
        background-color: #3f4040;
        .section-header {
            .section-title {
                color: #fff;
            }
        }
    }
    .commercialization {
        
    }
    .strategy {
        margin-bottom: 0;
        background-color: #f7f8f9;
    }
}



















