
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-up-open-big:before { content: '\e803'; } /* '' */
.icon-down-circle:before { content: '\e804'; } /* '' */
.icon-left-circle:before { content: '\e805'; } /* '' */
.icon-right-circle:before { content: '\e806'; } /* '' */
.icon-up-circle:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */